$componente-name: "c-button";

.#{$componente-name} {
  background-color: map-color(map-header-background);
  border-radius: $global-radius / 2;
  border: none;
  color: map-color(map-header-fore);
  height: ($global-module-size / 1.5);
  width: 50%;
  text-transform: uppercase;
  &--form {
    height: ($global-module-size / 1.2);
  }
  &:hover {
    background-color: map-color(map-header-fore);
    color: map-color(map-header-background);
    cursor: pointer;
  }
}
