$componente-name: "c-header";
$slice-height-big: ($global-module-size / 13);
$slice-height: ($global-module-size / 20);
$slice-margin: ($global-module-size / 10);
$slice-translate: $slice-height-big / 2;
$slice-width: ($global-module-size / 1.5);

.#{$componente-name} {
  &__logo {
    align-items: center;
    background-color: map-color(map-white);
    background-image: linear-gradient(
      to right,
      map-color(map-white) 50%,
      map-color(map-header-background) 50%
    );
    background-size: 200% 100%;
    display: flex;
    grid-column: 1/2;
    height: 100%;
    padding: 0 ($global-module-size / 2.5);
    transition: $transition-function-header;
    width: 100%;
    &.is-open {
      background-position: -100% 100%;
    }

    @include breakpoint(small-medium-up) {
      background-position: -100% 100%;
      // background-color: map-color(map-header-background);
    }
  }
  &__component {
    fill: map-color(map-black);
    transition: $transition-function-header;
    width: ($global-module-size * 2.4);
    @include breakpoint(small-medium-up) {
      fill: map-color(map-main-fore1);
      width: ($global-module-size * 3);
      fill: map-color(map-header-fore);
    }
    @include breakpoint(medium-up) {
      width: ($global-module-size * 4);
    }
    &.is-open {
      fill: map-color(map-header-fore);
      transition: $transition-function-header;
    }
  }
  &__item {
    transform: matrix(3.7480855, 0, 0, 3.7480855, -112.07463, -129.50111);
  }

  &__button {
    align-self: center;
    background-color: map-color(map-white);
    border: none;
    cursor: pointer;
    display: block;
    grid-column: 4/5;
    height: auto;
    justify-self: flex-end;
    padding: 0 ($global-module-size / 2.5);
    transition: $transition-function-header;
    width: auto;

    @include breakpoint(small-medium-up) {
      display: none;
    }
  }
  &__slice-up {
    background-color: map-color(map-black);
    height: $slice-height-big;
    padding: 0;
    transition: $transition-function-header-mobile;
    width: $slice-width;
    &.is-open {
      transform-origin: 50% 50%;
      transform: translatey($slice-translate) rotate(45deg);
    }
  }
  &__slice-middle {
    background-color: map-color(map-black);
    height: $slice-height;
    margin: $slice-margin 0;
    padding: 0;
    transform-origin: 50% 50%;
    transition-delay: $transition-daley-middle;
    transition: $transition-function-header-mobile;
    width: $slice-width;
    &.is-open {
      height: 0;
      margin: 0;
      transform-origin: 50% 50%;
      transition-delay: $transition-daley-none;
      width: 0;
    }
  }
  &__slice-down {
    background-color: map-color(map-black);
    height: $slice-height-big;
    padding: 0;
    transition: $transition-function-header-mobile;
    width: $slice-width;
    &.is-open {
      transform-origin: 50% 50%;
      transform: translatey(-#{$slice-translate}) rotate(-45deg);
    }
  }
  &__title {
    grid-column: 2/3;
    justify-self: flex-start;
    padding: 0 ($global-module-size / 2.5);
    width: auto;
  }
  &__slogan {
    grid-column: 3/4;
    justify-self: center;
    text-transform: none;
    width: auto;
  }
}
