$componente-name: "c-logo";

.#{$componente-name} {
  padding: ($global-module-size / 2.5);
  height: ($global-module-size * 1.64);
  border-bottom: rem(1) lighten(map-color(map-header-background), 20%) solid;
  width: 100%;
  &__component {
    fill: map-color(map-header-fore);
    transition: $transition-function-header;
    width: ($global-module-size * 2.4);
    @include breakpoint(medium-up) {
      width: ($global-module-size * 4);
    }
  }
  &__item {
    transform: matrix(3.7480855, 0, 0, 3.7480855, -112.07463, -129.50111);
  }
}
