$componente-name: "c-sidebar";

.#{$componente-name} {
  color: inherit;
  height: auto;
  overflow: hidden;
  width: 100%;
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
  }
  &__link {
    color: inherit;
    font-size: $global-font-size-medium;
    font-weight: $global-font-weight-normal;
    height: 100%;
    padding: ($global-module-size / 2.5);
    text-transform: capitalize;
    width: 100%;
    &:hover {
      background-color: map-color(map-main-fore2);
    }
    &.is-active {
      background-color: map-color(map-main-fore3);
      color: map-color(map-white);
    }
  }
}
