$componente-name: "l-body";

.#{$componente-name} {
  background-color: map-color(map-body-background);
  display: grid;
  grid-template-columns: [aside] auto [main] 1fr;
  grid-template-rows: [header] $global-height-header [main] 1fr;
  margin: 0 auto;
  max-width: $global-max-width;

  @include breakpoint(640-up) {
    grid-template-columns: [aside] $global-width-aside-mobile [main] 1fr;
  }

  @include breakpoint(1280-up) {
    grid-template-columns: [aside] $global-width-aside [main] 1fr;
  }
}
