$componente-name: "l-header";

.#{$componente-name} {
  background-color: map-color(map-white);
  border-bottom: rem(1) lighten(map-color(map-header-background), 10%) solid;
  color: map-color(map-main-fore1);
  display: grid;
  grid-template-columns: $global-width-aside-mobile repeat(2, 1fr);
  height: $global-height-header;
  max-width: $global-max-width;
  overflow: hidden;
  position: fixed;
  transition: $transition-function-header;
  width: 100%;
  z-index: z-index(above);
  place-items: center;

  @include breakpoint(640-up) {
    grid-template-columns: $global-width-aside-mobile 1fr;
  }

  @include breakpoint(1280-up) {
    grid-template-columns: $global-width-aside 1fr;
  }
}
