$componente-name: "l-main";

.#{$componente-name} {
  color: map-color(map-main-fore1);
  display: grid;
  grid-column: main;
  grid-row: body;
  grid-template-columns: [content] 1fr;
  margin: ($global-module-size / 2) 0 0 0;
  place-items: center;
  width: 100%;
  &--home {
    display: grid;
    gap: ($global-module-size / 4);
    grid-column: content;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    @include breakpoint(1920-up) {
      grid-template-columns: 1fr 1fr;
      gap: ($global-module-size / 2);
    }
  }
  &--trade {
    display: grid;
    gap: ($global-module-size / 4);
    grid-column: content;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    @include breakpoint(1600-up) {
      grid-template-columns: 1fr 1fr;
      gap: ($global-module-size / 2);
    }
  }
}
