$componente-name: "l-main";

.#{$componente-name} {
  background-color: map-color(map-main-background);
  color: map-color(map-main-fore1);
  display: grid;
  grid-area: main;
  grid: "header" ($global-module-size * 1.64) "content" 1fr / 1fr;
  margin: 0 auto;
  row-gap: ($global-module-size / 2);
  width: 100%;
}
