$componente-name: "l-sidebar";

.#{$componente-name} {
  background-color: map-color(map-header-background);
  color: map-color(map-header-fore);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  top: ($global-module-size * 1.64);
  transition: $transition-function-header;
  width: 0;
  z-index: z-index(above);
  &.is-open {
    width: ($global-module-size * 4);

    @include breakpoint(medium-up) {
      width: ($global-module-size * 5);
    }
  }

  @include breakpoint(small-medium-up) {
    width: ($global-module-size * 4);
  }

  @include breakpoint(medium-up) {
    width: ($global-module-size * 5);
  }
}
